
body {
  margin: 0;
  font-family: 'Dancing Script', cursive;
  background-image: url('../images/texture.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f4eb;
  padding: 10px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  height: 80px;
}

.nav-links {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-left: auto;
}

.nav-links li {
  list-style: none;
  text-align: center;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.7em;
  color: #3a823e;
}

.nav-flower {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto 4px auto;
}
